@media screen and (min-width: 968px) {
  .App {
    text-align: left;
    padding: 2em;
  }
  form div label {
    width: 10vw;
  }
  form div:last-of-type {
    margin: 1em 0 0 10vw;
  }
  button {
    padding: 0.5em 2.5em;
  }
  input {
    padding: 0.5em;
  }
}

@media screen and (max-width: 967px) {
  .App {
    padding: .25em;
  }
  form div label {
    width: 25vw;
  }
  form div:last-of-type {
    margin: 1em 0 0 25vw;
  }
  button {
    padding: 0.25em 1em;
  }
  input {
    padding: 0.25em;
  }
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  text-align: left;
}

.person-form,
.people-table {
  padding: 2em;
  border: 1px solid #555;
}

.person-form + .people-table {
  margin-top: .5em;
}

.people-table table {
  width: 100%;
}

.people-table table tr:nth-of-type(even) {
  background: rgba(190, 192, 193, 0.1);
}

.people-table table tr td {
  width: 15%;
  padding: 0.15em .25em;
}

.people-table table tr td:first-of-type {
  width: 5%;
}

.people-table table tr td:last-of-type {
  width: 50%;
}

.people-table table tr td button + button {
  margin-left: 1em;
}

.people-table table tr td button + button {
  margin-left: 1em;
}

form div {
  display: flex;
  flex-direction: row;
  padding: .25em 0;
}


button,
input {
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
}

input {
  border-color: #2e74b6;
  background: #5d9bd5;
  color: #fff;
  width: 85%;
  max-width: 150px;
}

button {
  color: #fff;
  border-color: #66696e;
  min-width: 100px;
}

button.sm {
  min-width: 125px;
  max-width: 125px;
}

button.lg {
  min-width: 125px;
  max-width: 200px;
}

button:hover:not(.disabled) {
  cursor: pointer;
}

.btn-can {
  color: #d84f00;
  background: #ebfe16;
  border-color: #8c9801;
}

.btn-del {
  background: #ef7c32;
  border-color: #d84f00;
}

.btn-edit {
  background: #000;
}

.btn-save {
  background: #a3a6a8;
  border-color: #5a6c80;
}

button:disabled,
button:disabled:hover {
  background: #ccc;
  border-color: #999;
  color: #999;
  cursor:not-allowed;
}
